body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    font-family: Inter;
}

.textbox {
    /* Sizing */
    width: 500px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Center element */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Center items in element */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black;
    text-align: center;
}

/* Top text in main textbox */
.toptext {
    margin-bottom: auto;
    align-self: center;
}

.valenting-img {
    width: 120px;
    height: auto;
    margin: 12px 0;
    max-width: 80%;
}

/* Row to style buttons */
.buttonrow{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
}

/* Yes button */
.yesbutton {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Inter;
    justify-content: center;
    transition: transform 0.1s ease;
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.6);
}

.yesbutton:hover{
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

/* No button */
.nobutton {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Inter;
    justify-content: center;
    position: relative;
    transition: transform 0.1s ease;
}